
@{
    ViewBag.Title = "Index";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
   
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <a>Trang Quản Trị</a>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
